<mat-drawer-container class="example-container" autosize>

    <!-- SIDEBAR INICIO-->
    <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <a mat-list-item href="...">Inicio</a>
        <a mat-list-item href="...">Alumnos</a>
        <a mat-list-item href="...">Cursos</a>
        <a mat-list-item href="...">Inscripciones</a>
      </mat-nav-list>
    </mat-drawer>
    <!--SIDEBAR FIN-->
  
    <!--MAIN CONTENT INICIO-->
    <div class="example-sidenav-content">

        <!-- COLORES ANGULAR MATERIAL
          primary - accent - warn -->

        <!--TOOLBAR INICIO-->
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span>Sistema de Gestión Universitaria</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
        <!--TOOLBAR FIN-->
          <main class="p-5">
             <app-students></app-students> <br>
             <!-- <app-courses></app-courses> -->
          </main>
        
    </div>
    <!--MAIN CONTENT FIN-->
  
  </mat-drawer-container>